
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .gif {
    max-width: 100%;
    height: auto;
  }
  
 
  .boton-escanear {
    margin-top: 20px; 
    font-size: 1.5em; 
  }
