.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    margin-bottom: 150px;
  }




ion-row {
  margin-top: 20px;
}
